// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License
@import "variables";
@import "_font_face.scss";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";
:hover, :link, section, div, #contact ul, svg{
	@include transition(all .5s ease-in-out);
}
body{
	background-color: $black;
	color: $white;
	font-family: $default;
	font-size: 1.5rem;
	margin:0;
	display: none;
	-webkit-font-smoothing: anti-aliased;
	a{
		color: $link-color;
		font-family: $default;
		font-size: $standard-size;
		letter-spacing: .8rem;

	}
	a:hover{
		color: $link-hover-color;
	}
	li > a:hover{
		color: $nav-hover;
	}
	h1{
		font-size: 7rem;
		color: $white;
		font-family: $bebas-light;
		letter-spacing: 1.2px;
	}
	h2{
		font-size: 1.675rem;
		color: $yellow;
		font-family: $bebas-light;
		letter-spacing: 1.2px;
	}
	p{
		font-size: 1.375rem;
		line-height: 28px;
		letter-spacing: 2px;
		word-spacing: 4px;
		color: $white;
		font-family: $default;
		border-bottom: 8px solid $gray;
		width:90%;
		margin: 0 auto;
		font-weight: bold;
	}
	li{
		font-size: 1rem;
	}
	.heading{
		text-align: center;
	}
	.cont{
		width: 100%;
		margin:0 auto; 
	}
	svg{
		margin-left: auto;
		margin-right: auto;
	}
}